@import url(home.css);

@font-face {
  font-family: "Pinkend";
  src: url(../font/Pinkend.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-green: #adff00;
  --clr-purple: #9b82ff;
  --clr-orange-low: #f6a166;
  --clr-orange-high: #ee7a2d;
  --clr-orange-dark: #773c14;

  --clr-gray-metallic: #a9a9a9;
  --clr-white: #ffffff;
  --clr-black: #000000;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;

  width: 100%;
  height: 100vh;

  position: relative;
}
