.packages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.packages__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
