.process {
  background-color: var(--clr-gray-dark);

  margin-top: 7rem;
  padding-top: 4rem;
  margin-inline: 2rem;
  border-radius: 25px;
}

.process__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process__title {
  color: var(--clr-green);
  font-size: 4.4rem;
  font-weight: 900;

  position: relative;
}

.process__title > span {
  color: var(--clr-purple);
  font-family: "Pinkend";

  position: absolute;
  top: -1.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.process__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  padding: 2rem 4rem;
}

.process__item {
  color: var(--clr-gray-metallic);
  list-style: none;
  font-size: 1.8rem;
  position: relative;
  text-align: center;
}

.process__item > b {
  color: var(--clr-white);
  font-weight: 600;
}

.process__main > img {
  width: 130px;
  margin: 5.5rem 0;

  transform: rotate(90deg);
}

.process__onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  text-align: center;
}

.process__name {
  color: var(--clr-green);
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 0.3rem;
}

.process__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin-top: 4rem;
}

.process__img {
  position: relative;
  width: 100%;
}

.process__img > img {
  animation: spin 30s linear infinite;
  width: 90%;
}
.process__img-title {
  position: absolute;
  color: var(--clr-green);
  font-size: 3.4rem;
  font-weight: 900;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.process__desc {
  color: var(--clr-gray-metallic);
  list-style: none;
  font-size: 1.8rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.process__desc > b {
  color: var(--clr-white);
  font-weight: 600;
}

.process__button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 23rem;
  height: 6rem;

  background-image: linear-gradient(
    to right,
    var(--clr-orange-low),
    var(--clr-orange-high)
  );
  border: 2px solid var(--clr-orange-low);
  color: var(--clr-orange-dark);
  text-decoration: none;
  border-radius: 1rem;
}

.process__button > i {
  font-size: 1.6rem;
  opacity: 0.6;
}

.process__button > h4 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
}

.process__cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.process__card{
  background-color: var(--clr-gray);
  width: 94%;
  height: 20rem;
  border: 1px solid var(--clr-gray-metallic);
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-right: 1.5rem;
}

.process__card-span {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 800;
}
.process__card-p {
  font-size: 1.5rem;
  width: 19rem;

}
.process__card > b {
  color: var(--clr-white);
  font-weight: 600;
}

.process__card > img {
  position: absolute;
  width: 17rem;
  top: -0.8rem;
  left: -3rem;
  fill: var(--clr-green);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
